name: Deploy site to S3 + CloudFront

on:
  push:
    branches: ["main"]
    paths:
      - "site/**"
      - ".github/workflows/deploy-site.yml"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::136919192325:role/acloudresume-github-deploy-role
          aws-region: ap-south-1

      - name: Deploy to S3
        run: |
          aws s3 sync site/ s3://acloudresume/ --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation --distribution-id EQHRX4VP95YAB --paths "/*"
